*{
    margin: 0px;
    padding: 0px;
    font-family: Roboto
}

body{
    background-color: rgb(233, 161, 110);
}
form{
    background-color: cornsilk;
    width: 800px;
    height: 800px;
    margin: 100px auto;
    box-shadow: 0px 0px 5px black;
}   

input[type="button"]{
    width: 200px;
    height: 100px;
    margin-left: 120px;
    margin-top: 100px;
    box-shadow: 0px 0px 10px black;
    margin
}