<form action="/cadastrarreceitas" method="GET">
    <input type="submit" value="Cadastrar Receitas">
</form>

<form action="/listarreceitas" method="GET">
    <input type="submit" value="Listar Receitas">
</form>